<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="welcome-container">
      <h1>Welcome to the Car App</h1>
      <div class="welcome-actions">
        <a href="/cars/new" class="action-btn">Create a Car</a>
        <a href="/cars" class="action-btn">All Cars</a>
      </div>
    </div>
  </body>
</html>

